/**
* border radius
**/

.btn,
.jumbotron,
.nav :hover{
    border-radius: 0px;
}

@media only screen and (max-width: 700px){
   
    .nav{
        height:160px !important;
        border: 5px solid lightblue
    }
}

.responsive {
  width: 100%;
  height: auto;
}


.navbar {
  height: 37px;
  background-color:white;
 justify-content: space-between;
}

/*
*media queries to make responsive
*/

@media only screen and (max-width: 700px){
    .navbar{
        height:160px;
        display:none;
    }
    .nav{
        height:160px;
    }
}

.text-family{
    font-family: serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
   font-family: serif;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
 color:orange;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-item{
    margin-top: 4px;
    margin-left: 20px;
    color:black;
}

@media only screen and (max-width: 700px){
    .nav-item{
        margin-top: 2px;
        margin-left: 3px;
    }
}

.categories{
    border-right: 5px solid lightblue;
    font-family: serif;
}

.price-slider{
    
    width: 255px;
    margin-left: 23px;

}

/**
* single product page -product name
**/

.name{
    background: rgb(0, 130, 113);
    color: #fff;
    font-weight: bold;
}

/**
* black shade 10-1
**/
.black-10 {
    background: #f2f2f2;
}
.black-9 {
     background: #e6e6e6;
}

.black-8 {
     background: #dd99dd;
}


/**
* product image on card
**/

.product-img {
    min-height: 100px ;
}

.jumbotron h2 {
    margin-top: -20px
}

.cart-badge, .cart-badge:hover{
    border-radius: 50%;
    padding: 2px;
    font-style: bold;
    background: mediumvioletred;

}


/**
* jumbotron animation
**/

.jumbotron {
    width: 30wh;
    padding: 17px;
    height: 137px;
    display: flex;
    justify-content: space-between;
    color: black;
    background:  white;
     border: 5px solid lightblue;
    margin-bottom: 0px;
    font-family: serif;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.sellers{
    border:5px solid lightblue
}

/* linear-gradient(-45deg, #ee7752,blue, #23a6d5, #23d5ab); */
    
.cat_circle {
  /* border: 3px solid #7E9CC2;
  border-radius: 50%; */
     width: 55px;
    height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat_circle img {
  width: 80%;
  height: 55px;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* .card-img-top {
    width: 100%;
    height: 40px;
    object-fit: cover;
} */







